{% extends 'core/base.html' %}

{% block content %}
<div class="animate-crossfade lg:w-2/3 md:w-5/6 sm:w-5/6 mx-auto pt-52">
    <div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-5">
        
            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>
            
            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>

            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>

            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>

            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>

            <div class="w-full m-10">
                <div class="group">

                    <div class="h-[200px] w-full overflow-hidden">
                        <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover group-hover:scale-110 duration-500 " />
                    </div>
        
                    <div class="mt-5 pb-2">
                        <h2 class="text-xl text-gray-600">Post Name</h2>
                    </div>
        
                    <div class="h-[2px] w-[40px] bg-gray-600"></div>

                    <div class="mt-5">
                        <button class="bg-[#397f77] px-10 py-3 w-full text-white hover:bg-[#18debb] duration-500 opacity-100">Details</button>
                    </div>
        
                </div>
        
            </div>            

        </div>

    </div>
</div>
{% endblock %}