{% extends 'core/base.html' %}

{% block content %}

<div class="animate-crossfade mx-10 pt-24 flex flex-col justify-center ">
    <div class="  animate-crossfade lg:w-2/3 md:w-5/6 sm:w-5/6 mx-auto">

        <div class="w-full h-[250px]">
            <img src="{{job.image.url}}" alt="" class="h-full w-full object-cover object-center" />
        </div>

    

        <div class="mt-10">
            
            <div>

            
                <div>
                    <h2 class="lg:text-5xl md:text-5xl sm:text-3xl text-gray-600 font font-semibold">{{job.name}}</h2>

                    <h2 class="lg:text-3xl md:text-3xl sm:text-2xl text-gray-600 mt-5">Category : {{job.category}}</h2>

                    <h2 class="lg:text-3xl md:text-3xl sm:text-2xl text-gray-600 mt-5">Salary : {{job.salary}}$</h2>

                    <p class="lg:text-lg md:text-lg sm:text-base text-gray-600 mt-10">{{job.description}}</p>
                </div>
                <form method="POST" action="{% url 'upload_document' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input type="hidden" name="job_id" value="{{ job.id }}"> -->
                    <button class="mt-5 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded" type="submit">Attach CV</button>
                </form>
                <!-- <button class="mt-5 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"></button> -->

            </div>

        </div>

    </div>
</div>

    


{% endblock %}