{% extends 'core/base.html' %}

{% block content %}

<div class="animate-crossfade mx-10 pt-24 flex flex-col justify-center ">
    <div class="  animate-crossfade lg:w-2/3 md:w-5/6 sm:w-5/6 mx-auto">

        <div class="w-full h-[250px]">
            <img src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2020Q3/sales/how-to-do-a-product-demo.png" alt="" class="h-full w-full object-cover object-center" />
        </div>

    

        <div class="mt-10">
            
            <div>

            
                <div>
                    <h2 class="lg:text-5xl md:text-5xl sm:text-3xl text-gray-600 font font-semibold">Python Developer</h2>

                    <h2 class="lg:text-3xl md:text-3xl sm:text-2xl text-gray-600 mt-5">Category : Developer</h2>

                    <h2 class="lg:text-3xl md:text-3xl sm:text-2xl text-gray-600 mt-5">Salary : 60,000</h2>

                    <p class="lg:text-lg md:text-lg sm:text-base text-gray-600 mt-10">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                </div>

                <button class="mt-5 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Attach CV</button>

            </div>

        </div>

    </div>
</div>

    


{% endblock %}