<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>Job Market</title>
    </head>

    <body>
        <div class="animate-crossfade bg-gradient-to-r from-[#eaf8f5] to-transparent min-h-screen py-20  overflow-y-clip">
                
            <div class="bg-white w-fit mx-auto p-10 shadow-xl rounded-2xl translate-x-0 duration-500">

                <h1>Reset yourpassword</h1>
                <p>We've emailed you instructions for setting your password.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
                
                
            </div>


        </div>


    </body>
</html>